img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}



























#left-potus {
  height: 100px;
  width:100px;
}
#mid-potus {
  height: 100px;
  width:100px;
}
#right-potus {
  height: 100px;
  width:100px;
}





.category-main{
  text-align: center;
}
.left {
  display: inline-block;

}
.mid {
  display: inline-block;
  justify-content:cen;
}
.right {
  display: inline-block;
  float: right;
}





#content-potus {
display: flex;
justify-content: space-around;
flex-direction: row;
  margin-top: 50px;
}

#content-house {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
    margin-top: 50px;
  }

  #content-senate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
      margin-top: 50px;
    }

    #content-scotus {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
        margin-top: 50px;
      }