header {
  color: white;
  background-color: black ;
  font-family: 'Prata', serif;
  padding: 20px 20px;
}

div h2{
  margin-top: 100px;
  font-family: 'Prata', serif;
}
p {
  width: 200px;
  font-family: 'Prata', serif;
  text-align: center;
}
h1 {
  font-family: 'Prata', serif;


}


.seals{
  height: 100px;
  width: 100px;
  text-align: center;
  
}
































#left-potus {
  text-decoration: underline;
  text-decoration-color: #0015BC;
}
#mid-potus {
  text-decoration: underline;
  text-decoration-color:#53239c;
}
#right-potus {
  text-decoration: underline;
  text-decoration-color:red;
}

#left-potus a {
  color: #0015BC;
}
#mid-potus a {
  color: #53239c;
}
#right-potus a {
  color: red;
}

#left-house {
  text-decoration: underline;
  text-decoration-color: #0015BC;
}
#mid-house {
  text-decoration: underline;
  text-decoration-color:#53239c;
}
#right-house {
  text-decoration: underline;
  text-decoration-color:red;
}

#left-house a {
  color: #0015BC;
}
#mid-house a {
  color: #53239c;
}
#right-house a {
  color: red;
}

#left-senate {
  text-decoration: underline;
  text-decoration-color: #0015BC;
}
#mid-senate {
  text-decoration: underline;
  text-decoration-color:#53239c;
}
#right-senate {
  text-decoration: underline;
  text-decoration-color:red;
}

#left-senate a {
  color: #0015BC;
}
#mid-senate a {
  color: #53239c;
}
#right-senate a {
  color: red;
}

#left-scotus {
  text-decoration: underline;
  text-decoration-color: #0015BC;
}
#mid-scotus {
  text-decoration: underline;
  text-decoration-color:#53239c;
}
#right-scotus {
  text-decoration: underline;
  text-decoration-color:red;
}

#left-scotus a {
  color: #0015BC;
}
#mid-scotus a {
  color: #53239c;
}
#right-scotus a {
  color: red;
}





.category-main{
  text-align: center;
  font-family: 'Prata', serif;
  margin-top: 50px;

}


#content-potus img {
  height: 150px;
  width: 200px;
  box-shadow: 5px 5px 8px #888888;
  border-radius: 5%;
}

#content-house img {
  height: 150px;
  width: 200px;
  box-shadow: 5px 5px 8px #888888;
  border-radius: 5%;
}

#content-senate img {
  height: 150px;
  width: 200px;
  box-shadow: 5px 5px 8px #888888;
  border-radius: 5%;
}

#content-scotus img {
  height: 150px;
  width: 200px;
  box-shadow: 5px 5px 8px #888888;
  border-radius: 5%;
}






#content-potus {
display: flex;
justify-content: space-around;
flex-direction: row;
  margin-top: 50px;
text-align: center;  
}

#content-house {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
    margin-top: 50px;
    text-align: center;  

  }

  #content-senate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
      margin-top: 50px;
      text-align: center;  

    }

    #content-scotus {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
        margin-top: 50px;
        text-align: center;  

      }